// Import utilities.
@import 'utils/colors';
@import 'utils/typography';
@import 'utils/mixins';
@import 'utils/variables';

/* Global styles */
@import 'global/window';
@import 'global/grid';
@import 'global/flex';
@import 'global/chat';
@import 'global/buttons';
@import 'global/roll';

/* Styles limited to cof sheets */
.cof {

  &.actor {
    @import 'components/actor_layout';
    @import 'components/actor_skin';
  }

  &.item {
    @import 'components/item_layout';
    //@import 'components/item_skin';
  }

  &.app {
    @import 'components/app';
  }

  @import 'components/forms';
  @import 'components/tabs';
  @import 'components/inventory';
  //@import 'components/items';

}
