<h3 class="form-header">Propriétés des sorts</h3>
<div class="form-group">
    <label>Proriétés</label>
    <div class="form-fields">
        <label class="checkbox">
            <input type="checkbox" name="data.properties.activable" {{checked item.data.properties.activable}}> {{localize "COF.properties.activable"}}
        </label>
    </div>
</div>
