<h3 class="form-header">Propriétés des sorts</h3>
<div class="form-group">
    <label>{{localize "COF.ui.properties"}}</label>
    <div class="form-fields">
        <label class="checkbox">
            <input type="checkbox" name="system.properties.activable" {{checked item.system.properties.activable}}> {{localize "COF.properties.activable"}}
        </label>
    </div>
</div>
