<div class="row flexrow no-wrap">
    <div class="flex1 layout">
        <!-- STATS -->
        {{> "systems/cof/templates/actors/character/parts/stats/character-attributes.hbs"}}
    </div>
    <div class="flex1 layout">
        <!-- ATTAQUES -->
        {{> "systems/cof/templates/actors/character/parts/stats/character-attacks.hbs"}}
        <div class="row flexrow"><div class="flex1 spacer"></div></div>
        <!-- INIT -->
        {{> "systems/cof/templates/actors/character/parts/stats/character-init.hbs"}}
    </div>
</div>
<div class="row flexrow"><div class="flex1 half-spacer"></div></div>
<div class="row flexrow no-wrap">
    <div class="flex1 layout">
        <!-- VITALITE -->
        {{> "systems/cof/templates/actors/character/parts/stats/character-vitality.hbs"}}
        <div class="row flexrow"><div class="flex1 half-spacer"></div></div>
        <!-- DEFENSE -->
        {{> "systems/cof/templates/actors/character/parts/stats/character-defence.hbs"}}
    </div>
    <div class="flex1 layout">
        <!-- RECOVERY -->
        {{> "systems/cof/templates/actors/character/parts/stats/character-recovery.hbs"}}
        <!-- RESOURCES -->
        {{> "systems/cof/templates/actors/character/parts/stats/character-resources.hbs"}}
    </div>
</div>
