$padding-sm: 5px;
$padding-md: 10px;
$padding-lg: 20px;

//$item-header-height: 55px;
//$item-main-height: calc(100% - 55px);

$item-header-height: 65px;
$item-main-height: calc(100% - 65px);

$item-row-height: 25px;

//$sheetBackground: url("ui/parchment.jpg") repeat;
$sheetBackground: url("../ui/bg-2.png") no-repeat white;
