{{#if (notEmpty (getWornItems actor.items))}}
    <!-- ARMOR -->
    {{#if (notEmpty (getWornArmors actor.items))}}
    {{> "systems/cof/templates/partials/actor/actor-armor.hbs"}}
    {{/if}}
    <!-- SHIELD -->
    {{#if (notEmpty (getWornShields actor.items))}}
    <hr/>
    {{> "systems/cof/templates/partials/actor/actor-shield.hbs"}}
    {{/if}}
    <!-- MELEE -->
    {{#if (notEmpty (getWornMeleeWeapons actor.items))}}
    <hr/>
    {{> "systems/cof/templates/partials/actor/actor-melee.hbs"}}
    {{/if}}
    <!-- RANGED -->
    {{#if (notEmpty (getWornRangedWeapons actor.items))}}
    <hr/>
    {{> "systems/cof/templates/partials/actor/actor-ranged.hbs"}}
    {{/if}}
    <!-- SPELLS -->
    {{#if (notEmpty (getSpells actor.items))}}
    {{> "systems/cof/templates/partials/actor/actor-spells.hbs"}}
    {{/if}}
    {{else}}
    <p class="empty">Aucun objet équipé pour le moment.</p>
{{/if}}