<img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
<div class="header-fields">
    <h1 class="itemname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    <input class="field-value" name="data.id" type="hidden" value="{{item.data.id}}" placeholder="ID" data-dtype="String">
</div>
<div id="separator">
    <img src="/systems/cof/ui/separator-h.png" height="7"/>
<!--    <div class="flex1 center" id="logo-banner"></div>-->
</div>
