<div class="row flexrow">
    <div class="flex1 center field-header">
        <span class="field-label label-text">{{localize "COF.ui.price"}}</span>
    </div>
    <div class="flex1">
                    <span class="field-label">
                        <input class="field-value" name="data.price" type="text" value="{{item.data.price}}" placeholder="{{localize "COF.ui.price"}}" data-dtype="Number">
                    </span>
    </div>
</div>
