<div class="sheet-header flexrow header-background no-wrap">
    <div class="flex0 left" id="item-icon">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    </div>
    <div class="flex3 left header-fields" id="banner-left">
        <h1 class="itemname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </div>
    <div class="flex1 right" id="banner-right"></div>
</div>
<div id="separator"></div>
