<div class="row flexrow">
    <div class="flex1 center field-header">
        <span class="field-label label-text">{{localize "COF.ui.description"}}</span>
    </div>
</div>
<div class="row flexrow description">
    {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
</div>
