/* ----------------------------------------- */
/*  Flexbox                                  */
/* ----------------------------------------- */
.flex-group-center,
.flex-group-left,
.flex-group-right {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px;
  border: 1px solid #999;
}

.flex-group-left {
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  justify-content: flex-end;
  text-align: right;
}

.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left {
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.right {
  justify-content: flex-end;
  text-align: right;
  display: flex;
  align-items: center;
}

//.left {
//  justify-content: flex-start;
//  text-align: left;
//}
//
//.right {
//  justify-content: flex-end;
//  text-align: right;
//}

.flexrow {
  display: flex;
  flex-flow: row wrap;
  //flex-flow: row nowrap;
  justify-content: flex-start;
}

.flex-center {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.flex-between {
  justify-content: space-between;
}

.no-wrap {
  flex-wrap: nowrap !important;
}

.flexcol {
  display: flex;
  flex-flow: column nowrap;
}

.flexrow > * {
  flex: 1;
}

.flexrow .flex0 {
  flex: 0;
}

.flexrow .flex1 {
  flex: 1;
}

.flexrow .flex2 {
  flex: 2;
}

.flexrow .flex3 {
  flex: 3;
}

.flexrow .flex4 {
  flex: 4;
}

.flexrow .flex5 {
  flex: 5;
}

.flexrow .flex6 {
  flex: 6;
}

.flexrow .flex7 {
  flex: 7;
}

.flexrow .flex8 {
  flex: 8;
}

.flexrow .flex9 {
  flex: 9;
}

.flexcol > * {
  flex: 1;
}

.flexcol .flex1 {
  flex: 1;
}

.flexcol .flex2 {
  flex: 2;
}

.flexcol .flex3 {
  flex: 3;
}

.flexcol .flex4 {
  flex: 4;
}
