.window-app {
  font-family: $font-primary;

  a:hover {
    text-shadow: 0 0 8px $c-linkshadow;
  }

  .rollable {
    &:hover,
    &:focus {
      //color: #000;
      text-shadow: 0 0 8px $c-linkshadow;
      cursor: pointer;
    }
  }

  &.cof.sheet.actor {
    min-width: 765px;
    overflow: hidden;
  }

  &.cof.sheet.item {
    min-width: 430px;
    overflow: hidden;
  }
}

/* ----------------------------------------- */
/* Scrollbar
/* ----------------------------------------- */
//::-webkit-scrollbar {
//  width: 6px;
//}
//::-webkit-scrollbar-track {
//  box-shadow: 0 0 1px #999 inset;
//  border-radius: 4px;
//}
//::-webkit-scrollbar-thumb {
//  outline: none;
//  border-radius: 3px;
//  background: $c-dark;
//  border: 1px solid $c-dark;
//}
//:root {
//  scrollbar-width: thin;
//  scrollbar-color: $c-dark #111;
//}