{{#if (notEmpty (getWorn actor.items))}}
    <ol class="inventory-list">
        <li class="inventory-header flexrow">
            <h3 class="item-name flexrow">Equipé</h3>
            <div class="item-detail">Def</div>
            <div class="item-detail">Portée(m)</div>
            <div class="item-detail">Usage</div>
            <div class="item-detail">Crit</div>
            <div class="item-detail">Mod</div>
            <div class="item-detail">DM</div>
            <div class="item-controls"></div>
        </li>
        {{#each (getWorn actor.items) as |item id|}}
            {{> "systems/cof/templates/actors/character/parts/combat/character-combat-item.hbs" item}}
        {{/each}}
    </ol>
{{else}}
    <p class="empty">Aucun objet équipé pour le moment.</p>
{{/if}}