.message-header {
  h2.damage{
    color: orangered;
    font-weight: bold;
  }
  h2.critical{
    color: green;
    font-weight: bold;
  }
  h2.fumble{
    color: red;
    font-weight: bold;
  }
  h2.success{
    color: $c-darkgreen;
    font-weight: bold;
  }
  h2.failure{
    color: $c-darkred;
    font-weight: bold;
  }
  h2.roll{
    color: darkslategrey;
    font-weight: bold;
  }
}
