/* ----------------------------------------- */
/*  SKIN                                     */
/* ----------------------------------------- */
.window-content {}

.box-shadow {
  box-shadow: 1px 1px 2px gray;
}