<ol class="inventory-list">
    <li class="item flexrow inventory-header spellbook-header">
        <div class="item-name flexrow">
            <h3>Cantrip</h3>
        </div>
        <div class="spell-slots">
            <span>∞</span>
            <span class="sep"> / </span>
            <span class="spell-max">∞</span>
        </div>
        <div class="spell-school">Spell School</div>
        <div class="spell-action">Spell Usage</div>
        <div class="spell-target">Spell Target</div>
        <div class="item-controls">
            <a class="item-control item-create" title="Create Spell" data-type="spell" data-level="0" data-preparation.mode="prepared">
                <i class="fas fa-plus"></i> Add
            </a>
        </div>
    </li>
    <ol class="item-list">
        <li class="item flexrow" data-item-id="28aUiwSg7wlTjZLE" draggable="true">
            <div class="item-name flexrow rollable">
                <div class="item-image" style="background-image: url('systems/dnd5e/icons/spells/vines-jade-1.jpg')"></div>
                <h4>Druidcraft</h4>
            </div>
            <div class="spell-comps">
                <span class="spell-component V">V</span>
                <span class="spell-component S">S</span>
            </div>
            <div class="spell-school">Transmutation</div>
            <div class="spell-action">1 Action</div>
            <div class="spell-target" title="Range: 30 Feet">
                None
            </div>
            <div class="item-controls">
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div>
        </li>
        <li class="item flexrow" data-item-id="I0lMMSyrXd6BnHzn" draggable="true">
            <div class="item-name flexrow rollable">
                <div class="item-image" style="background-image: url('systems/dnd5e/icons/spells/enchant-jade-1.jpg')"></div>
                <h4>Shillelagh</h4>
            </div>
            <div class="spell-comps">
                <span class="spell-component V">V</span>
                <span class="spell-component S">S</span>
                <span class="spell-component M">M</span>
            </div>
            <div class="spell-school">Transmutation</div>
            <div class="spell-action">1 Bonus Action</div>
            <div class="spell-target" title="Range: Touch">
                1 Special Object
            </div>
            <div class="item-controls">
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div>
        </li>
    </ol>
    <li class="item flexrow inventory-header spellbook-header">
        <div class="item-name flexrow">
            <h3>1st Level</h3>
        </div>
        <div class="spell-slots">
            <input type="text" name="data.spells.spell1.value" value="2" placeholder="0" data-dtype="Number">
            <span class="sep"> / </span>
            <span class="spell-max" data-level="spell1" data-slots="2">
                            2
                            <a class="slot-max-override" title="Override slots">
                                <i class="fas fa-edit"></i>
                            </a>
                    </span></div>

        <div class="spell-school">Spell School</div>
        <div class="spell-action">Spell Usage</div>
        <div class="spell-target">Spell Target</div>

        <div class="item-controls">
            <a class="item-control item-create" title="Create Spell" data-type="spell" data-level="1" data-preparation.mode="prepared">
                <i class="fas fa-plus"></i> Add
            </a>
        </div>
    </li>
    <ol class="item-list">
        <li class="item flexrow" data-item-id="cgrUf9R7qzjGJiKz" draggable="true">
            <div class="item-name flexrow rollable">
                <div class="item-image" style="background-image: url('systems/dnd5e/icons/spells/wild-jade-2.jpg')"></div>
                <h4>Animal Friendship</h4>
            </div>

            <div class="spell-comps">
                <span class="spell-component V">V</span>
                <span class="spell-component S">S</span>
                <span class="spell-component M">M</span>
            </div>
            <div class="spell-school">Enchantment</div>
            <div class="spell-action">1 Action</div>
            <div class="spell-target" title="Range: 30 Feet">
                1 Creature
            </div>


            <div class="item-controls">
                <a class="item-control item-toggle " title="Unprepared"><i class="fas fa-sun"></i></a>
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div>
        </li>
        <li class="item flexrow" data-item-id="G1NUYiRzbONM8JY3" draggable="true">
            <div class="item-name flexrow rollable">
                <div class="item-image" style="background-image: url('systems/dnd5e/icons/spells/explosion-magenta-2.jpg')"></div>
                <h4>Charm Person</h4>
            </div>

            <div class="spell-comps">
                <span class="spell-component V">V</span>
                <span class="spell-component S">S</span>
            </div>
            <div class="spell-school">Enchantment</div>
            <div class="spell-action">1 Action</div>
            <div class="spell-target" title="Range: 30 Feet">
                1 Creature
            </div>


            <div class="item-controls">
                <a class="item-control item-toggle active" title="Prepared"><i class="fas fa-sun"></i></a>
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div>
        </li>
        <li class="item flexrow" data-item-id="d5GfeWbhbQjxaebc" draggable="true">
            <div class="item-name flexrow rollable">
                <div class="item-image" style="background-image: url('systems/dnd5e/icons/spells/wind-blue-2.jpg')"></div>
                <h4>Create or Destroy Water</h4>
            </div>

            <div class="spell-comps">
                <span class="spell-component V">V</span>
                <span class="spell-component S">S</span>
                <span class="spell-component M">M</span>
            </div>
            <div class="spell-school">Transmutation</div>
            <div class="spell-action">1 Action</div>
            <div class="spell-target" title="Range: 30 Feet">
                30 Feet Cube
            </div>


            <div class="item-controls">
                <a class="item-control item-toggle " title="Unprepared"><i class="fas fa-sun"></i></a>
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div>
        </li>
        <li class="item flexrow" data-item-id="Jm7NmryByjSIJv1R" draggable="true">
            <div class="item-name flexrow rollable">
                <div class="item-image" style="background-image: url('systems/dnd5e/icons/spells/heal-jade-1.jpg')"></div>
                <h4>Cure Wounds</h4>
            </div>

            <div class="spell-comps">
                <span class="spell-component V">V</span>
                <span class="spell-component S">S</span>
            </div>
            <div class="spell-school">Evocation</div>
            <div class="spell-action">1 Action</div>
            <div class="spell-target" title="Range: Touch">
                1 Creature
            </div>


            <div class="item-controls">
                <a class="item-control item-toggle " title="Unprepared"><i class="fas fa-sun"></i></a>
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div>
        </li>
        <li class="item flexrow" data-item-id="XSHrt4ZiaxGfQNLC" draggable="true">
            <div class="item-name flexrow rollable">
                <div class="item-image" style="background-image: url('systems/dnd5e/icons/spells/light-blue-2.jpg')"></div>
                <h4>Detect Magic</h4>
            </div>

            <div class="spell-comps">
                <span class="spell-component V">V</span>
                <span class="spell-component S">S</span>
                <span class="spell-component R">R</span>
                <span class="spell-component C">C</span>
            </div>
            <div class="spell-school">Divination</div>
            <div class="spell-action">1 Action</div>
            <div class="spell-target" title="Range: Self">
                30 Feet Radius
            </div>


            <div class="item-controls">
                <a class="item-control item-toggle " title="Unprepared"><i class="fas fa-sun"></i></a>
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div>
        </li>
        <li class="item flexrow" data-item-id="LjjndkOEZDZQGfcr" draggable="true">
            <div class="item-name flexrow rollable">
                <div class="item-image" style="background-image: url('systems/dnd5e/icons/spells/air-burst-jade-2.jpg')"></div>
                <h4>Detect Poison and Disease</h4>
            </div>

            <div class="spell-comps">
                <span class="spell-component V">V</span>
                <span class="spell-component S">S</span>
                <span class="spell-component M">M</span>
                <span class="spell-component C">C</span>
            </div>
            <div class="spell-school">Divination</div>
            <div class="spell-action">1 Action</div>
            <div class="spell-target" title="Range: Self">
                30 Feet Radius
            </div>


            <div class="item-controls">
                <a class="item-control item-toggle " title="Unprepared"><i class="fas fa-sun"></i></a>
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div>
        </li>
        <li class="item flexrow" data-item-id="ItDBRSum0kOrmztx" draggable="true">
            <div class="item-name flexrow rollable">
                <div class="item-image" style="background-image: url('systems/dnd5e/icons/spells/vines-acid-2.jpg')"></div>
                <h4>Entangle</h4>
            </div>

            <div class="spell-comps">
                <span class="spell-component V">V</span>
                <span class="spell-component S">S</span>
                <span class="spell-component C">C</span>
            </div>
            <div class="spell-school">Conjuration</div>
            <div class="spell-action">1 Action</div>
            <div class="spell-target" title="Range: 90 Feet">
                20 Feet Square
            </div>


            <div class="item-controls">
                <a class="item-control item-toggle " title="Unprepared"><i class="fas fa-sun"></i></a>
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div>
        </li>
        <li class="item flexrow" data-item-id="svLywIriFEl67tzX" draggable="true">
            <div class="item-name flexrow rollable">
                <div class="item-image" style="background-image: url('systems/dnd5e/icons/spells/fire-arrows-jade-2.jpg')"></div>
                <h4>Faerie Fire</h4>
            </div>

            <div class="spell-comps">
                <span class="spell-component V">V</span>
                <span class="spell-component C">C</span>
            </div>
            <div class="spell-school">Evocation</div>
            <div class="spell-action">1 Action</div>
            <div class="spell-target" title="Range: 60 Feet">
                20 Feet Cube
            </div>


            <div class="item-controls">
                <a class="item-control item-toggle " title="Unprepared"><i class="fas fa-sun"></i></a>
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div>
        </li>
        <li class="item flexrow" data-item-id="xVl92wpbBSI4OAYC" draggable="true">
            <div class="item-name flexrow rollable">
                <div class="item-image" style="background-image: url('systems/dnd5e/icons/spells/fog-water-air-2.jpg')"></div>
                <h4>Fog Cloud</h4>
            </div>

            <div class="spell-comps">
                <span class="spell-component V">V</span>
                <span class="spell-component S">S</span>
                <span class="spell-component C">C</span>
            </div>
            <div class="spell-school">Conjuration</div>
            <div class="spell-action">1 Action</div>
            <div class="spell-target" title="Range: 120 Feet">
                20 Feet Sphere
            </div>


            <div class="item-controls">
                <a class="item-control item-toggle " title="Unprepared"><i class="fas fa-sun"></i></a>
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div>
        </li>
        <li class="item flexrow" data-item-id="vovqPUlFNdiGdrHU" draggable="true">
            <div class="item-name flexrow rollable">
                <div class="item-image" style="background-image: url('systems/dnd5e/icons/spells/leaf-acid-1.jpg')"></div>
                <h4>Goodberry</h4>
            </div>

            <div class="spell-comps">
                <span class="spell-component V">V</span>
                <span class="spell-component S">S</span>
                <span class="spell-component M">M</span>
            </div>
            <div class="spell-school">Transmutation</div>
            <div class="spell-action">1 Action</div>
            <div class="spell-target" title="Range: Touch">
                None
            </div>


            <div class="item-controls">
                <a class="item-control item-toggle " title="Unprepared"><i class="fas fa-sun"></i></a>
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div>
        </li>
        <li class="item flexrow" data-item-id="RZ4SraHCh0WOjavT" draggable="true">
            <div class="item-name flexrow rollable">
                <div class="item-image" style="background-image: url('systems/dnd5e/icons/spells/heal-jade-1.jpg')"></div>
                <h4>Healing Word</h4>
            </div>

            <div class="spell-comps">
                <span class="spell-component V">V</span>
            </div>
            <div class="spell-school">Evocation</div>
            <div class="spell-action">1 Bonus Action</div>
            <div class="spell-target" title="Range: 60 Feet">
                1 Creature
            </div>


            <div class="item-controls">
                <a class="item-control item-toggle active" title="Prepared"><i class="fas fa-sun"></i></a>
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div>
        </li>
        <li class="item flexrow" data-item-id="yNSNY4JCAxd5ZYj2" draggable="true">
            <div class="item-name flexrow rollable">
                <div class="item-image" style="background-image: url('systems/dnd5e/icons/spells/wind-grasp-sky-2.jpg')"></div>
                <h4>Jump</h4>
            </div>

            <div class="spell-comps">
                <span class="spell-component V">V</span>
                <span class="spell-component S">S</span>
                <span class="spell-component M">M</span>
            </div>
            <div class="spell-school">Transmutation</div>
            <div class="spell-action">1 Action</div>
            <div class="spell-target" title="Range: Touch">
                1 Creature
            </div>


            <div class="item-controls">
                <a class="item-control item-toggle " title="Unprepared"><i class="fas fa-sun"></i></a>
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div>
        </li>
        <li class="item flexrow" data-item-id="4HiyhUzYaVeGgs5X" draggable="true">
            <div class="item-name flexrow rollable">
                <div class="item-image" style="background-image: url('systems/dnd5e/icons/spells/wind-sky-1.jpg')"></div>
                <h4>Longstrider</h4>
            </div>

            <div class="spell-comps">
                <span class="spell-component V">V</span>
                <span class="spell-component S">S</span>
                <span class="spell-component M">M</span>
            </div>
            <div class="spell-school">Transmutation</div>
            <div class="spell-action">1 Action</div>
            <div class="spell-target" title="Range: Touch">
                1 Creature
            </div>


            <div class="item-controls">
                <a class="item-control item-toggle " title="Unprepared"><i class="fas fa-sun"></i></a>
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div>
        </li>
        <li class="item flexrow" data-item-id="u3shlNW6ZPjKHl8i" draggable="true">
            <div class="item-name flexrow rollable">
                <div class="item-image" style="background-image: url('systems/dnd5e/icons/spells/light-jade-1.jpg')"></div>
                <h4>Purify Food and Drink</h4>
            </div>

            <div class="spell-comps">
                <span class="spell-component V">V</span>
                <span class="spell-component S">S</span>
            </div>
            <div class="spell-school">Transmutation</div>
            <div class="spell-action">1 Action</div>
            <div class="spell-target" title="Range: 10 Feet">
                5 Feet Sphere
            </div>


            <div class="item-controls">
                <a class="item-control item-toggle " title="Unprepared"><i class="fas fa-sun"></i></a>
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div>
        </li>
        <li class="item flexrow" data-item-id="UCzxOu2UUZG3OiMl" draggable="true">
            <div class="item-name flexrow rollable">
                <div class="item-image" style="background-image: url('systems/dnd5e/icons/spells/wild-jade-1.jpg')"></div>
                <h4>Speak with Animals</h4>
            </div>

            <div class="spell-comps">
                <span class="spell-component V">V</span>
                <span class="spell-component S">S</span>
                <span class="spell-component R">R</span>
            </div>
            <div class="spell-school">Divination</div>
            <div class="spell-action">1 Action</div>
            <div class="spell-target" title="Range: Self">
                Self
            </div>


            <div class="item-controls">
                <a class="item-control item-toggle " title="Unprepared"><i class="fas fa-sun"></i></a>
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div>
        </li>
        <li class="item flexrow" data-item-id="fRvlrHvqC1A5G5kA" draggable="true">
            <div class="item-name flexrow rollable">
                <div class="item-image" style="background-image: url('systems/dnd5e/icons/spells/lightning-jade-1.jpg')"></div>
                <h4>Thunderwave</h4>
            </div>

            <div class="spell-comps">
                <span class="spell-component V">V</span>
                <span class="spell-component S">S</span>
            </div>
            <div class="spell-school">Evocation</div>
            <div class="spell-action">1 Action</div>
            <div class="spell-target" title="Range: Self">
                15 Feet Cube
            </div>


            <div class="item-controls">
                <a class="item-control item-toggle " title="Unprepared"><i class="fas fa-sun"></i></a>
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div>
        </li>
    </ol>
</ol>