<ol class="inventory-list">
    <li class="inventory-header flexrow">
        <h3 class="item-name flexrow">Class Levels</h3>
        <div class="item-controls">
            <a class="item-control item-create" title="Create Feature" data-type="class">
                <i class="fas fa-plus"></i> Add
            </a>
        </div>
    </li>
    <ol class="item-list">
        <li class="item flexrow " data-item-id="oCWYgwSdqWcnR3vg" draggable="true">
            <div class="item-name flexrow rollable">
                <div class="item-image" style="background-image: url('systems/dnd5e/icons/skills/green_13.jpg')"></div>
                <h4>Druid</h4>
            </div>
            <div class="item-detail player-class">
            </div>
            <div class="item-detail item-action">
                Level 1
            </div>
            <div class="item-controls">
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div>
        </li>
    </ol>

    <li class="inventory-header flexrow">
        <h3 class="item-name flexrow">Active Abilities</h3>
        <div class="item-detail item-uses">Uses</div>
        <div class="item-detail item-action">Usage</div>
        <div class="item-controls">
            <a class="item-control item-create" title="Create Feature" data-type="feat" data-activation.type="action">
                <i class="fas fa-plus"></i> Add
            </a>
        </div>
    </li>
    <ol class="item-list"></ol>

    <li class="inventory-header flexrow">
        <h3 class="item-name flexrow">Passive Abilities</h3>
        <div class="item-controls">
            <a class="item-control item-create" title="Create Feature" data-type="feat">
                <i class="fas fa-plus"></i> Add
            </a>
        </div>
    </li>
    <ol class="item-list">
        <li class="item flexrow " data-item-id="ase8bS7TFIu2A5G7" draggable="true">
            <div class="item-name flexrow rollable">
                <div class="item-image" style="background-image: url('systems/dnd5e/icons/skills/green_09.jpg')"></div>
                <h4>Spellcasting (Druid)</h4>
            </div>
            <div class="item-controls">
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div>
        </li>
        <li class="item flexrow " data-item-id="L8hf4HtRF3hpT14e" draggable="true">
            <div class="item-name flexrow rollable">
                <div class="item-image" style="background-image: url('systems/dnd5e/icons/skills/yellow_13.jpg')"></div>
                <h4>Background: Recluse</h4>
            </div>
            <div class="item-controls">
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div>
        </li>
        <li class="item flexrow " data-item-id="s9TjQ4VjDzht25O3" draggable="true">
            <div class="item-name flexrow rollable">
                <div class="item-image" style="background-image: url('systems/dnd5e/icons/spells/light-air-fire-3.jpg')"></div>
                <h4>Human</h4>
            </div>
            <div class="item-controls">
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div>
        </li>
    </ol>
</ol>