<div class="dice-roll">
    <div class="dice-result">
        <div class="dice-formula">{1d12 + 1}ms&gt;=10</div>
        <div class="dice-tooltip" style="display: block;">
            <section class="tooltip-part">
                <div class="dice">
                    <p class="part-formula">1d12<span class="part-total">9</span></p>
                    <ol class="dice-rolls">
                        <li class="roll die d12">9</li>
                    </ol>
                </div>
            </section>
        </div>
        <h4 class="dice-total">0</h4>
    </div>
</div>
