<form class="{{cssClass}}" autocomplete="off">
    <div class="wrap">
        {{> "systems/cof/templates/partials/item/item-header.hbs"}}
        <div class="main">
            {{> "systems/cof/templates/partials/item/item-def-stats.hbs"}}
            <div class="row flexrow">
                <div class="flex1 center field-header">
                    <span class="field-label label-text">{{localize "COF.attributes.dr.label"}}</span>
                </div>
                <div class="flex1">
                    <span class="field-label">
                        <input class="field-value" name="data.dr" type="text" value="{{item.data.dr}}" placeholder="COF.attributes.dr.abbrev" data-dtype="Number">
                    </span>
                </div>
            </div>
            {{> "systems/cof/templates/partials/item/item-price.hbs"}}
            {{> "systems/cof/templates/partials/item/item-description.hbs"}}
        </div>
    </div>
</form>
