<form class="{{cssClass}}" autocomplete="off">
    <div class="wrap">
        <header class="sheet-header">
            {{> "systems/cof/templates/partials/item/item-header.hbs"}}
        </header>
        <div class="main">
            <div class="row flexrow">
                <div class="flex3 center">
                    <span class="field-label label-text">Category</span>
                </div>
                <div class="flex4">
                        <span class="field-label">
                            <input class="field-value" name="type" readonly="true" type="text" value="{{item.type}}" placeholder="Category" data-dtype="String">
                        </span>
                </div>
            </div>
            <div class="row flexrow">
                <div class="flex3 center">
                    <span class="field-label label-text">{{localize "COF.ui.description"}}</span>
                </div>
            </div>
            <div class="row flexrow description">
                {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
            </div>
        </div>
    </div>
</form>
