<form class="{{cssClass}}" autocomplete="off">
    <div class="wrap">
        {{> "systems/cof/templates/partials/item/item-header.hbs"}}
        <div class="main">
            {{> "systems/cof/templates/partials/item/item-def-stats.hbs"}}
            {{> "systems/cof/templates/partials/item/item-weapon-stats.hbs"}}
            {{> "systems/cof/templates/partials/item/item-price.hbs"}}
            {{> "systems/cof/templates/partials/item/item-description.hbs"}}
        </div>
    </div>
</form>
