<form class="{{cssClass}}" autocomplete="off">
    <div class="wrap">
        {{> "systems/cof/templates/items/parts/item-header.hbs"}}
        <div class="main">
            {{> "systems/cof/templates/items/parts/item-price.hbs"}}
            {{> "systems/cof/templates/items/parts/item-description.hbs"}}
        </div>
    </div>
</form>
