/* ----------------------------------------- */
/*  LOCAL FONTS                             */
/* ----------------------------------------- */

@font-face {
    font-family: "Blackmoor";
    src: url('../fonts/Blackmoor LET Plain_2.0.ttf');
}

@font-face {
    font-family: "ChN1Regular";
    src: url('../fonts/ChN1_Regular.ttf');
}

@font-face {
    font-family: "FeroxAlternates";
    src: url('../fonts/FeroxAlternates.ttf');
}

@font-face {
    font-family: "Frushand";
    src: url('../fonts/FRUSHAND.otf');
}

@font-face {
    font-family: "Georgia";
    src: url('../fonts/georgia.ttf');
}

@font-face {
    font-family: "Georgia";
    font-weight: bold;
    src: url('../fonts/georgiab.ttf');
}

@font-face {
    font-family: "Georgia";
    font-style: italic;
    src: url('../fonts/georgiai.ttf');
}

@font-face {
    font-family: "Georgia";
    font-weight: bold;
    font-style: italic;
    src: url('../fonts/georgiaz.ttf');
}

@font-face {
    font-family: "MyriadPro";
    src: url('../fonts/MyriadPro-Regular.otf');
}

@font-face {
    font-family: "MyriadPro";
    font-style: italic;
    src: url('../fonts/MyriadPro-It.otf');
}

@font-face {
    font-family: "MyriadPro";
    font-weight: bold;
    src: url('../fonts/MyriadPro-Bold.otf');
}

@font-face {
    font-family: "MyriadPro";
    font-weight: bold;
    font-style: italic;
    src: url('../fonts/MyriadPro-BoldIt.otf');
}

@font-face {
    font-family: "MyriadProLight";
    src: url('../fonts/MyriadPro-Light.otf');
}

@font-face {
    font-family: "MyriadProBlack";
    src: url('../fonts/MyriadPro-Black.otf');
}

@font-face {
    font-family: "NexusSansOT";
    src: url('../fonts/NexusSansOT-Regular.otf');
}

@font-face {
    font-family: "NexusSansOT";
    font-weight: bold;
    src: url('../fonts/NexusSansOT-Bold.otf');
}
@font-face {
    font-family: "NexusSansOT";
    font-style: italic;
    src: url('../fonts/NexusSansOT-Italic.otf');
}

@font-face {
    font-family: "PermanentMarker";
    src: url('../fonts/PermanentMarker-Regular.ttf');
    /*font-weight: bold;*/
}

@font-face {
    font-family: "PrioriSansOT";
    src: url('../fonts/PrioriSansOT-Regular.otf');
}

@font-face {
    font-family: "Requiem";
    src: url('../fonts/Requiem.ttf');
}

@font-face {
    font-family: "RPGAwesome";
    src: url('../fonts/rpgawesome-webfont.ttf');
}

@font-face {
    font-family: "UnifrakturCook";
    src: url('../fonts/UnifrakturCook-Bold.ttf');
}

/* ----------------------------------------- */
/*  Sheet Styles                             */
/* ----------------------------------------- */

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: lightgray !important;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: lightgray !important;;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: lightgray !important;;
}

input, input:active, input:hover, input:focus{
    border-radius: 0;
    border: none;
    box-shadow: none;
}

.cof img {
    border: none;
}

.cof .rollable :hover{
    cursor: pointer;
}

.cof .wrap {
    font-family: Signika, sans-serif;
    font-size: 1em;
    color: #464331c4;
    padding: 0;
    min-width: 550px;
    margin: auto;
}

.cof .footer,
.cof .header {
    background: url("../ui/green-leather-bg.png") repeat-x white;
    min-height: 65px;
    height: 65px;
    max-height: 65px;
}

.cof .header #banner {
    background: url("../ui/deco-left.png") no-repeat;
    min-height: 65px;
    height: 65px;
    max-height: 65px;
}

.cof .wrap #logo-banner {
    text-align: center;
    margin-top: -65px;
    min-height: 65px;
    height: 65px;
    max-height: 65px;
}
.cof .wrap #logo-banner>img {
    min-width: 300px;
    width: 300px;
    max-width: 300px;
    min-height: 100px;
    height: 100px;
    max-height: 100px;
}
.cof .header #banner-right {
    background: url("../ui/deco-right.png") no-repeat;
    float:right;
    min-width: 331px;
    width: 331px;
    max-width: 331px;
    min-height: 65px;
    height: 65px;
    max-height: 65px;
}

.cof .main {
    background: white;
}

.cof .main .sidebar {
    max-width: 250px;
    background: url("../ui/parchemin1.png") no-repeat white;
    padding : 0 5px 0 5px;
    /*border-right: 2px solid gray;*/
}
.cof .main .separator{
    min-width: 7px;
    width: 7px;
    max-width: 7px;
    background: url("../ui/separator.png") repeat-y white;
}

.cof .main .content {
    padding-top: 35px;
}

.cof .profile-img {
    cursor: pointer;
    margin-top: 5px;
    margin-left: 0;
    flex: 0 0 240px;
}

.cof .area-value {
    border: none;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: white;
    font-size: 1em;
}

.cof .field-label {
    margin: 0;
    min-height: 28px;
    padding: 5px;
    background: none;
    flex-grow: 2;
    vertical-align: middle;
}

.cof .field-value {
    border: none;
    width: 100%;
    min-height: 26px;
    height: 26px;
    max-height: 26px;
    vertical-align: middle;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 0;
    color: #191813;
    padding:5px;
}
.cof .box-shadow {
    box-shadow: 1px 1px 2px gray;
}
.cof .editor-content {
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 1px 1px 2px gray;
}

.cof .stats .field-value {
    font: 1.2em 'ChN1Regular', cursive;
    color: black;
}

.cof .field-value.sans{
    font: 14px 'Signika', sans-serif;
}

.cof .compendium-pack {
    cursor: pointer;
}

/*.cof input.field-value{*/
    /*border: none;*/
    /*color: #191813;*/
    /*width: 100%;*/
    /*vertical-align: middle;*/
    /*background: transparent;*/
/*}*/

input.field-value[readonly="true"]{
    border: none;
    color:dimgray !important;
    cursor: not-allowed;
    width: 100%;
    vertical-align: middle;
    background: transparent;
}

.cof .row {
    margin-top: 1px;
    background: transparent;
}

.cof .capacity {
    border: 1px solid #736953a6;
    margin-left: 1px;
}

.cof .cell {
    border: 1px solid #736953a6;
    margin-left: 1px;
}

.cof .layout {
    padding:5px;
}

.cof .btn {
    cursor: pointer;
    font-family: Signika, sans-serif;
    color: #464331c4;
    border: 1px solid #736953a6;
    box-shadow: 0 0 10px #00000052 inset;
    background:rgba(0,0,0,0.05);
    margin-left: 1px;
}

.cof .btn:hover{
    color: #464331ee;
    background:rgba(0,0,0,0.3);
    text-shadow: none;
    border: 1px outset #736953a6;
}

.cof .btn:active{
    border: 1px inset #736953a6;
    background:rgba(0,0,0,0.3);
    color: #464331ee;
}

.cof .table-header {
    font-weight: bold;
    min-height:28px;
    height:28px;
    max-height:28px;
}

.cof .half-spacer {
    min-height:14px;
    height:14px;
    max-height:14px;
}

.cof .spacer {
    min-height:28px;
    height:28px;
    max-height:28px;
}

.cof .field-area {
    border: none;
    width: 100%;
    vertical-align: middle;
    background: transparent;
    font-family: "Signika", sans-serif;
    font-size: 13px;
}

.cof .tabs {
    font: 14px 'Signika', sans-serif;
    color: #464331c4;
    text-align: center;
}

.cof .tabs .item {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 5px;
    border: 1px solid #736953a6;
    margin: 0;
    height: 28px;
    box-shadow: 0 0 10px #00000052 inset;
    /*padding: 3px 3px 0 3px;*/
    background:rgba(0,0,0,0.05);
}

.cof .tabs .item:hover {
    color: #464331ee;
    background:rgba(0,0,0,0.2);
    text-shadow: none;
}

.cof .tabs .item.active {
    color: #464331ee;
    border: 1px inset #736953a6;
    background:rgba(0,0,0,0.2);
    text-shadow: none;
}

.cof .sheet-body .tab {
    height: 100%;
    overflow: auto;
    padding:5px;
}

.cof .editor,
.cof .editor-content {
    height: 100%;
}

/* -------------------
 * PATH LIST
 * -------------------*/
.cof .path-card {
    margin-bottom: 5px;
}
.cof .path-card .path-name {
    font-family: MyriadPro, sans-serif;
    font-weight: bold;
    font-size: 16px;
    min-height:28px;
}
.cof .path-card .path-description {
    font-size: 12px;
    font-family: MyriadPro, sans-serif;
}
.cof .path-card .path-note {
    background-color: yellow;
}

.cof .path-controls {
    text-align: right;
}

.cof .capacity-list {
    margin:0 10px 0 5px;
}

.cof .capacity {
    border: 1px solid #23221d;
    padding:0;
    margin-bottom: 1px;
}

.cof .capacity .capacity-level {
    min-width:20px;
    max-width:20px;
    margin-right:3px;
    font-size: 10px;
    font-family: MyriadPro, sans-serif;
    font-weight: bold;
}
.cof .capacity .capacity-title {
    font-size: 14px;
    font-family: MyriadPro, sans-serif;
    font-weight: bold;
    padding:5px;
    border-bottom: 1px solid #23221d;
}

.cof .capacity .capacity-description {
    text-align: justify;
    font-size: 12px;
    font-family: MyriadPro, sans-serif;
    padding:5px;
}

.cof .path-list {
    list-style: none;
    margin: 7px 0;
    padding: 0;
    overflow-y: auto;
}

.cof .path-list .path {
    border:1px solid red;
    height: 28px;
    line-height: 28px;
    padding: 3px 0;
}

.cof .path-list .path img {
    flex: 0 0 28px;
    margin-right: 5px;
}

.cof .path-list .path-name {
    margin: 0;
    cursor: pointer;
}

.cof .path-list .path-controls {
    flex: 0 0 36px;
}

/* -------------------
 * ITEM LIST
 * -------------------*/

.cof .item-list {
    list-style: none;
    margin: 7px 0;
    padding: 0;
    overflow-y: auto;
}

.cof .item-list .item {
    height: 28px;
    /*line-height: 28px;*/
}

.cof .item-list .item img {
    flex: 0 0 24px;
    margin-right: 5px;
}

.cof .item-list .item-name {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-family: MyriadPro, sans-serif;
    font-size: 1em;
    color: #272727;
    margin: 0;
    cursor: pointer;
}

.cof .item-list .equipment-controls {
    flex: 0 0 54px;
}

.cof .item-list .item-controls {
    flex: 0 0 36px;
}

/* ----------------------------------------- */
/*  Sidebar                                  */
/* ----------------------------------------- */

.cof .species-controls,
.cof .profile-controls {
    visibility: hidden;
    flex: 0 0 18px;
    border:1px solid transparent;
}
.cof div:hover>div.species-controls,
.cof div:hover>div.profile-controls {
    visibility: visible;
}

.cof .sidebar .charname{
    /*font: 5em 'Blackmoor', cursive;*/
    /*font: 5em 'FeroxAlternates', cursive;*/
    /*font: 3em 'Requiem', cursive;*/
    /*font: 5em 'Frushand', cursive;*/
    /*font: 5em 'UnifrakturCook', cursive;*/
    font: 2.5em 'PermanentMarker', cursive;
    /*font-size: 16px;*/
    /*font-size: 4vw;*/

    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #003c1e;
    -webkit-font-smoothing: antialiased;
    text-shadow: 3px 3px 10px black;
    text-align: center;
    padding: 0;
    margin: 0;
    min-height: 80px !important;
    /*color: #003c1e;*/
    background-color: transparent;
}

/* ----------------------------------------- */
/*  Custom classes                           */
/* ----------------------------------------- */
.message-header h2.damage{
    color: orangered !important;
    font-weight: bold;
}
.message-header h2.critical{
    color: green !important;
    font-weight: bold;
}
.message-header h2.fumble{
    color: red !important;
    font-weight: bold;
}
.message-header h2.success{
    color: #003c1e;
    font-weight: bold;
}
.message-header h2.failure{
    color: darkred;
    font-weight: bold;
}
.inventory h2{
    font-family: Signika, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    color: #464331c4;
    border-bottom: 1px solid lightgray;
}

label.input-label{
    border:1px solid red;
    text-align: center;
    vertical-align: center;
    padding-bottom:7px;
    margin:0;
}

.readonly {
    box-shadow: 0 0 10px #00000052 inset;
    cursor:not-allowed;
}

.light {
    color: lightgray;
}
.bg-light {
    background: lightgray;
}

.darkgray {
    color: #23221d;
}
.bg-darkgray {
    background: #23221d;
    color:white;
}

.dark {
    color: darkslategray;
}
.bg-dark {
    background: darkslategray;
    color:white;
}

.darkgreen {
    color: #003c1e;
}

.bg-darkgreen {
    background: #003c1e;
    color: white;
}

.darkblue {
    color: midnightblue;
}

.bg-darkblue {
    background: midnightblue;
    color: white;
}

.blue {
    color: #009ee0;
}

.bg-blue {
    background: #009ee0;
    color: white;
}

.green {
    color: #44a12b;
}
.bg-green {
    background: #44a12b;
    color: white;
}

.black {
    color: black;
}
.bg-black {
    background: black;
    color: white;
}

.red {
    color: #cd071e !important;
}
.bg-red {
    background: #cd071e !important;
    color: white;
}

.center {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
    text-align: left;
    display: flex;
    align-items: center;
}

.right {
    text-align: right;
    display: flex;
    align-items: center;
}

.empty {
    font: 14px 'MyriadPro', sans-serif;
    color:darkgray;
    font-style: italic;
}

/* ----------------------------------------- */
/*  Flexbox                                  */
/* ----------------------------------------- */

.flexrow {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.flexrow > * {
    flex: 1;
}

.flexrow .flex0 {
    flex: 0;
}

.flexrow .flex1 {
    flex: 1;
}

.flexrow .flex2 {
    flex: 2;
}

.flexrow .flex3 {
    flex: 3;
}

.flexrow .flex4 {
    flex: 4;
}

.flexrow .flex5 {
    flex: 5;
}

.flexrow .flex6 {
    flex: 6;
}

.flexrow .flex7 {
    flex: 7;
}

.flexrow .flex8 {
    flex: 8;
}

.flexrow .flex9 {
    flex: 9;
}

.flexcol {
    display: flex;
    flex-flow: column nowrap;
}

.flexcol > * {
    flex: 1;
}

.flexcol .flex1 {
    flex: 1;
}

.flexcol .flex2 {
    flex: 2;
}

.flexcol .flex3 {
    flex: 3;
}

.flexcol .flex4 {
    flex: 4;
}

.label-text {
    font-family: Signika, sans-serif;
    font-size: 14px;
    color: #464331c4;
    text-align: center;
    border: 1px solid #736953a6;
    margin: 0;
    height: 28px;
    box-shadow: 0 0 10px #00000052 inset;
    padding: 3px 3px 0 3px;
    flex-grow: 2;
    background: none;
}

strong{
    font-family: MyriadPro, sans-serif;
    font-weight: bold;
}

.collapsed {
    display: none;
}
